<div class="footer">
    <div class="cin row">
        <div class="col l3 m6 s12">
            <h4>Contul meu</h4>
            <div class="footerinner">
                Nu sunteți autentificat, vă rugăm să vă conectați la contul dvs. pentru a putea avea acces la această secțiune.
                <br><br><a href="" class="btn1 smallbtn">Accesare Cont</a><br><br>
            </div>
        </div>
        <div class="col l5 m6 s12">
            <h4>Link-uri rapide</h4>
            <div class="footerinner 2split">
                <div class="linklist">
                    <a href="{{l('/')}}">Pagina Principală</a>
                    <a href="http://avizier.nicugane.ro">Avizier</a>
                    <a href="{{l('/despre-noi')}}">Despre noi</a>
                    <a href="{{l('/oferta-educationala')}}">Oferta Educațională</a>
                    <a href="{{l('/istoric')}}">Istoric</a>
                    <a href="{{l('/profesori')}}">Profesori</a>
                    <a href="{{l('/galerie')}}">Galerie Media</a>
                    <a href="aaa">Activități</a>
                    <a href="aaa">Evenimente</a>
                    <a href="aaa">Catedre</a>
                    <a href="{{l('/contact')}}">Contact</a>
                </div>
                <div class="linklist">
                    <a href="{{l('/cont')}}">Contul meu</a>
                    <a href="http://nicugane.ro/lumina/">Pagina Religioasă</a>
                    <a href="http://sindicat.nicugane.ro/">Sindicat</a>
                    <a href="http://www.nicugane.ro/articole/phpguestbook/">Carte de oaspeți</a>
                    <a href="aaa">Revista Liceului</a>
                    <a href="http://crossing-borders.nicugane.ro/">CrossingBorders</a>
                    <a href="aaa">Bibliotecă</a>
                    <a href="aaa">APCNNGF</a>
                    <a href="aaa">Linkuri Utile</a>
                    <a href="{{l('/profesori')}}">Profesori</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <h4>Contact</h4>
            <div class="footerinner fcontact">
                <p>
                    <i class="material-icons">&#xE80C;</i>
                    Colegiul Național „Nicu Gane” Fălticeni
                </p>
                <p>
                    <i class="material-icons">&#xE55E;</i>
                    Str. Sucevei, Nr. 105, Fălticeni, jud. Suceava, cod 725200
                </p>
                <p>
                    <i class="material-icons">&#xE551;</i>
                    40-0230-541227, 40-0230-541429
                </p>
                <p>
                    <i class="material-icons">&#xE0BE;</i>
                    <!-- nicu_gane@yahoo.com -->
                    secretariat@nicugane.ro
                </p>
                <p>
                    <a href="{{l('/contact')}}" class="smallbtn btn1">Pagina de contact</a>
                </p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col l3 m6 s12">
            <h4>Test</h4>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi perferendis explicabo officiis repudiandae distinctio, a consequuntur minus saepe?</div>
        </div>
        <div class="col l5 m6 s12">
            <h4>Liceul</h4>
            <div class="footerinner 2split">
                <div class="linklist">
                    <a href="aaa">Organigrama</a>
                    <a href="aaa">Performanțe</a>
                    <a href="aaa">Activitate Prof.</a>
                    <a href="aaa">Clase</a>
                </div>
                <div class="linklist">
                    <a href="aaa">Echipa Managerială</a>
                    <a href="aaa">Asociația APCNNGF</a>
                    <a href="aaa">Sindicat</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <h4>Catedre</h4>
            <div class="footerinner 2split">
                <div class="linklist">
                    <a href="aaa">De Matematică</a>
                    <a href="aaa">De Info/TIC</a>
                    <a href="aaa">De Română</a>
                    <a href="aaa">De Engleză</a>
                    <a href="aaa">De Lb. Străine</a>
                </div>
                <div class="linklist">
                    <a href="aaa">De Fizică</a>
                    <a href="aaa">De Chimie</a>
                    <a href="aaa">De Biologie</a>
                    <a href="aaa">De Geografie</a>
                    <a href="aaa">De Istorie</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bbar">
    <div class="cin">
        <div class="left">
            Web design/web development: Vultur David;<br>
            Media: Vultur Iulian;<br>
            <a href="#">Vezi întreaga echipă</a><br>

        </div>
        <div class="right tar">
            Site-ul este OpenSource.<br>Pentru contribuire, bug-uri, etc, avem <a href="https://github.com/artur99/nicugane" target="_blank">repository aici</a>.<br>
        </div>
        <div class="clear"></div>
    </div>
</div>
