<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
</head>
<body class="landing">
    {% include 'part/header.twig' %}

    <div class="header">
        <div class="headerin">
            <h1>{{title}}</h1>
            <span class="bcnav">
                <a href="{{l('/')}}">CNNG</a>
                <i class="material-icons">&#xE315;</i>
                <a href="{{l('/catedre')}}">Catedre</a>
                <i class="material-icons">&#xE315;</i>
                <a href="#">{{cpdata.name}}</a>
            </span>
        </div>
    </div>
    <div class="thepage">
        <div class="cin">
            <div class="thecontent cardart">
                <a href="{{l('/catedre')}}" class="btn2 smallbtn"><i class="material-icons">&#xE314;</i> Înapoi la catedre</a>
                {% for item in catddata %}
                <div class="card">
                    <div class="card-content">
                        <h2 class="tinyh2">{{item.title}}</h2>
                        <p>{{item.content|striptags|truncate(250)}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Prof. Dana Anton</a>
                        <a href="#" class="btn2 smallbtn right">Citește articolul</a>
                    </div>
                </div>
                {% endfor %}
                {% if catddata|length == 0 %}
                    <h3 class="semititle">Nu există nicio postare la această catedră...</h3>
                {% endif %}
            </div>
            {% include 'part/sidebar.twig' %}
        </div>
    </div>

    {% include 'part/footer.twig' %}

    {% include 'part/scripts.twig' %}
</body>
</html>
