<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
</head>
<body class="landing">
    {% include 'part/header.twig' %}

    <div class="header">
        <div class="headerin">
            <h1>{{title}}</h1>
            <span class="bcnav">
                <a href="{{l('/')}}">CNNG</a>
                <i class="material-icons">&#xE315;</i>
                <a href="#">{{title}}</a>
            </span>
        </div>
    </div>
    <div class="sec">
        <div class="cin">

            <h2 class="subtitle">Catedre</h2>
            <div class="lines"></div>
            <div class="crlist crlist-bigger">
                {% for item in data %}
                    <a href="{{l('/catedre/'~item.id~'-'~(item.slug))}}" class="crlistitem light-effect-p z-depth-1">
                        <div class="crlist-header light-effect" {{item.image ? ('style="'~gen_bgcss(item.image)~'"')|raw}}></div>
                        <div class="crlist-cont">
                            <h3>{{item.name}}</h3>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'part/footer.twig' %}

    {% include 'part/scripts.twig' %}
</body>
</html>
