<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
</head>
<body class="landing">
    {% include 'part/header.twig' %}

    <div class="header">
        <div class="headerin">
            <h1>{{title}}</h1>
            <span class="bcnav">
                <a href="{{l('/')}}">CNNG</a>
                <i class="material-icons">&#xE315;</i>
                <a href="{{l('/catedre')}}">Catedre</a>
                <i class="material-icons">&#xE315;</i>
                <a href="{{l('/catedre/'~data.slug)}}">{{data.name}}</a>
            </span>
        </div>
    </div>
    <div class="thepage">
        <div class="cin">
            <div class="thecontent cardart">
                <a href="{{l('/catedre')}}" class="btn2 smallbtn left"><i class="material-icons">&#xE314;</i> Înapoi la catedre</a>
                {% if user_in %}
                    <a href="{{l('/catedre/'~data.slug~'/adaugare')}}" class="btn2 smallbtn right"><i class="material-icons">&#xE89C;</i> Adaugă postare</a>
                {% endif %}
                <div class="clear"></div>
                {% for item in items %}
                <div class="card">
                    <div class="card-content">
                        <h2 class="tinyh2">{{item.title}}</h2>
                        <p>{{item.content|striptags|truncate(250)}}</p>
                    </div>
                    <div class="card-footer">
                        {% if item.user_prof %}
                        <a href="{{l('/profesori/'~item.user_id~'-'~(item.user_name|slugify))}}">
                            <div class="prof_ico siz32" {{item.user_image ? ('style="'~gen_bgcss(item.user_image)~'"')|raw}}></div>
                            {{item.user_data.statut is defined?item.user_data.statut|shorten}} {{item.user_name}}
                        </a>
                        {% else %}
                        <a href="#">
                            <div class="prof_ico siz32" {{item.user_image ? ('style="'~gen_bgcss(item.user_image)~'"')|raw}}></div>
                            {{item.user_data.statut is defined?item.user_data.statut|shorten}} {{item.user_name}}
                        </a>
                        {% endif %}
                        <small>a postat la {{item.date|date("H:i, d.m.Y")}}</small>
                        <a href="#" class="btn2 smallbtn right">Citește articolul</a>
                    </div>
                </div>
                {% endfor %}
                {% if items|length == 0 %}
                    <h3 class="semititle">Nu există nicio postare la această catedră...</h3>
                {% endif %}
            </div>
            {% include 'part/sidebar.twig' %}
        </div>
    </div>

    {% include 'part/footer.twig' %}

    {% include 'part/scripts.twig' %}
</body>
</html>
